One or more kernel builds failed:
{% if build_data.unknown_issues_builds %}
    Unrecognized or new issues:
    {% for build in build_data.unknown_issues_builds|sort(attribute='architecture,debug') %}
        {{ '%8s'|format(build.architecture) }}{{ " (debug)" if (build.misc['debug'] | default(false)) else "" }} - {{ dw_url }}/kcidb/builds/{{ build.misc.iid }}
    {% endfor %}
{% endif %}
{% if build_data.known_issues_builds %}
    We also see the following known issues which are not related to your changes:
    {% for build in build_data.unknown_issues_builds|sort(attribute='architecture,debug') %}
        {{ '%8s'|format(build.architecture) }}{{ " (debug)" if (build.misc['debug'] | default(false)) else "" }} - {{ dw_url }}/kcidb/builds/{{ build.misc.iid }}
        {% for issue_occurrence in build.issues_occurrences %}
                   Issue: {{ issue_occurrence.issue.description }}
                          {{ issue_occurrence.issue.ticket_url }}
        {% endfor %}
    {% endfor %}
{% endif %}
