{% if checkout_data.checkout.log_url %}
Merge log:
    {{ checkout_data.mergelog|indent(4) }}
{% endif %}
{% if checkout_data.issues_occurrences %}
Known merge issues:
{% for issue_occurrence in checkout_data.issues_occurrences %}
    {{ issue_occurrence.issue.description }}
    {% if issue_occurrence.issue.ticket_url %}
    Ticket URL: {{ issue_occurrence.issue.ticket_url }}
    {% endif %}

{% endfor %}
{% endif %}
