Overall result: {{ checkout_data.result|yesno('PASSED,FAILED') }}
         Merge: {{ checkout_data.checkout.valid|yesno('OK,FAILED,UNKNOWN') }}
{% if build_data.builds %}
       Compile: {{ build_data.unknown_issues_builds|yesno('FAILED,OK') }}
{% endif %}
{% if test_data.non_skipped_tests %}
          Test: {{ test_data.unknown_issues_tests|yesno('FAILED,OK') }}
{% endif %}
