{% extends "base.j2" %}

{% block head %}

{{ inc('failures') }}
You can find all the details about the test run at
    {{ dw_url }}/kcidb/checkouts/{{ checkout_data.checkout.misc.iid }}

{% endblock %}
